body {
  width: 100vw;
  height: 100vh;
  background: white;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.navbar{
  width: 100%;
  background: #040404;
  display: flex;
  flex-direction: row-reverse;
}
.navitem {
  height: 100px;
  width: 50%;
  background: black;
  margin-right: 20%;
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* link de nav */
.link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #f5f5f3;
}
.link:hover{
  color: #43e59fa6;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #f5f5f3;
}

/* estilo de página inicial */
.inicio {
  position: relative;
  width:  100vw;
  height: 100vh;
  background: #000;
  z-index: -1;
}
.imagen{
  position: absolute;
  width: 100vw;
  height:100%;
}
/* estilo de página de juegos */
.juegos {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #000;
}

.titulo{
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
}
.parent {
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
}
.child {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 1rem rgb(4, 219, 176);
  border-radius: 1rem;
  opacity: 1;
  width: 200px;
  height: 300px;
  cursor: pointer;

  display: flex;
  justify-content: center;
}
/* carta1 */
.child1{
  background-image: url('../src/img/juegobg1black.jpg');
}
.child1:hover{
  background-image: url('/src/img/juegobg1.jpg');
}
/* estilo logo1 */
.logo1 {
  position: absolute;
  width: 100px;
  top: 40%;
}
.child:hover .logo1{
  transition: 0.5s linear;
  top: 30%;
}
/* estilo texto1 */
.texto{
  position: absolute;
  font-weight: bolder;
  font-size: 10px;
  opacity: 0;
  padding: 1rem;
  bottom: 0;
  background-image: linear-gradient(45deg,#43e59fa6, black);
}
.child:hover .texto{
  bottom: 50px;
  transition: 0.5s linear;
  opacity: 1;
}
.texto1{
  color: white;
}
/* carta 2 */
.child2{
  background-image: url('../src/img/juegobg2black.jpg');
}
.child2:hover{
  background-image: url('/src/img/juegobg2.jpg');
}
.texto2{
  color: rgb(243, 8, 156);
}
/* carta 3 */
.child3{
  background-image: url('../src/img/juegobg3black.jpg');
}
.child3:hover{
  background-image: url('/src/img/juegobg3.jpg');
}
.texto3{
  color: rgb(243, 8, 156);
}
/* estilo de página de aboutUs */
.sobre {
  background: rgb(30, 166, 196);
  width: 100vw;
  height: 100vh;
}
/*  */
button {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}
